/* HEADER */
header{
    padding: 10px 20px;
    background-color:#2e3a46;
    height: 70px;
}
header img{
    height: 50px;

}
/* MAIN */
main{
    background-color: #1e2d3b;
    width: 100%;
    height: calc(100vh - 60px);
    position: fixed;
    top: 60px;
    left: 0;
    overflow: auto;
}
.my_card{
    background-color: #2e3a46;
    max-height: 400px;
}

h1{
    font-size: 15px;
}
.my_span{
    font-size: 13px;
}
